* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2f3ce3;
  color: #ffff;
}

.logo {
  margin-left: 30px;
  margin-top: 30px;
}

.container {
  max-width: 512px;
  margin: 0 auto;
}

.apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-top: 80px;
  margin-bottom: 150px;
}

.icon-container {
  height: 112px;
  width: 112px;
  overflow: hidden;
}

.app img {
  width: 100%;
  cursor: pointer;
}

.app p {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  cursor: pointer;
}

.app p:hover {
  text-decoration: underline;
  font-weight: 700;
}
